// Primary Colors
$primary-blue: #007bff;
$primary-dark-blue: #0056b3;
$primary-gray: #ccc;
$primary-light-gray: #e0f7fa;
$primary-darker-gray: #3d3d3d;
$secondary-gray: #767676;
$primary-white: #fff;

// Status Colors
$available-green: #86ce3c;
$scheduled-gray: #727272;
$hover-background: #f0f0f0;

// Overlay Color
$overlay-background: rgba(0, 0, 0, 0.5);
